*{
        margin: 0;
        padding: 0;
        font-family: "Azeret Mono", monospace;
}

nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px;
}

nav > h2{
        font-size: 28px;
}

nav > button{
        padding: 10px 15px;
        background-color: white;
        font-size: 20px;
        border: 1px solid grey;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 0.5s;
}

nav > button:hover{
        box-shadow: 1px 1px 5px gray;
}

/* Start hero area */



.hero-area{
        max-width: 1488px;
        height: 652px;
        background-image: url(assets/Hero-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0px 0px 70px;
}

.hero-area-image > img{
        width: 240px;
        height: 240px;
        margin-bottom: 30px;
}

.hero-area-heading > h1{
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 30px;
}

.hero-area-des > p{
        width: 850px;
        font-size: 16px;
        line-height: 26px;
        color: rgb(112, 110, 110);
        margin-bottom: 30px;
}

.hero-area-contact > a > button{
        color: white;
        padding: 21px 24px;
        background-color: black;
        font-size: 20px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        transition-duration: 0.5s;
}

.hero-area-contact > a > button:hover{
        box-shadow: 4px 4px 10px gray;
}


/* 1st section start here */

.info-container{
        width: 1140px;
        background: rgba(13, 19, 33, 0.02);
        margin: 0 auto;
        padding-bottom: 40px;
}


#container-div{
        width: 946px;
        margin: 0 auto;
        padding-top: 40px;
        
}

.ques-container{
        text-align: center;
        padding: 40px;
}

.ques-container > h2{
        font-size: 32px;
        font-weight: 800;
        padding-bottom: 20px;
}

.ques-container > p{
        color: rgb(112, 110, 110);
        font-size: 16px;
        line-height: 26px;
}

.success-container{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 48px;
        border-radius: 20px;
        margin-bottom: 30px;
        }

.success-container:nth-child(even){
        background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.11));
}

.success-container:nth-child(odd){
        background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0.11));
}

.success-ques{
        width: 570px;
        box-sizing: border-box;
        
}

.success-ques > h3{
        font-size: 24px;
        font-weight: 700;
        color: rgba(13, 19, 33, 0.7);
        line-height: 36px;
        margin-bottom: 16px;
}

.success-ques > p{
        font-size: 16px;
        color: rgb(112, 110, 110);
        line-height: 26px;
        text-align: justify;
        margin: 0px 150px 36px 0px;
        font-weight: 400;
        line-height: 26px;
        
}

.success-ques > a{
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px 15px;
}

/* My inspiration part start */

#inspiration-container{
        width: 1140px;
        margin: 0px auto 40px;
}


#inspiration{
        width: 946px;
        margin: 50px auto 0;
}

#jhankar-mahbub{
        text-align: center;
        box-sizing: border-box;
}

#jhankar-mahbub > iframe{
        padding: 20px;
        border: 1px solid rgba(128, 128, 128, 0.856);
        border-radius: 10px;
}

/* My Current Target Start */

#target-container{
        width: 1140px;
        margin: 0 auto;
        border: 2px solid red;
}

.all-skill{
        display: flex;
        justify-content: space-between;
        
}

.target-skill{
        width: 364px;
        height: 300px;
        box-sizing: border-box;
        padding: 40px;
        border-radius: 20px;
}

.target-skill:nth-child(1){
        background: rgba(255, 76, 30, 0.05);
}

.target-skill:nth-child(2){
        background: rgba(0, 76, 232, 0.05);
}

.target-skill:nth-child(3){
        background: rgba(255, 223, 0, 0.05);
}


.target-skill > h3{
        font-size: 24px;
        font-weight: 800;
        margin: 20px 0px 10px;
}

.target-skill > p{
        font-size: 16px;
        color: rgb(112, 110, 110);
        line-height: 26px;
        text-align: left;
        line-height: 26px;
        margin-bottom: 20px;
}

.target-skill > a{
        font-size: 16px;
        font-weight: 700;
        color: black;
        
}